<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <style>
        img {
            margin: 5px;
            width: 25px;
            height: 25px;
        }

        .searchbar {
            width: 300px;
        }

        .navbar-nav :hover {
            background-color: rgba(101, 108, 114, 0.594);
        }

        .nav-link.active {
            text-decoration: underline yellow;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
        <a href="/admin/adminhome"> <img src="/public/images/leaf_1.png" alt="cart"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand navtext" style="color: white;" href="/admin/adminhome">Booky.com</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link disabled" href="#"
                        style="color: rgb(109, 110, 95); font-weight: bold; padding-right: 1.5rem;">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link dash" style="color: white; padding-right: 1.5rem;" href="/admin/adminhome"
                        name="dashboard">Dashboard</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link user" style="color: white; padding-right: 1.5rem;" href="/admin/userlist"
                        name="users">Users</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link product" href="/admin/productlist" style="color: white; padding-right: 1.5rem;"
                        name="products">Products</a>
                </li>
                <li class="nav-item category">
                    <a class="nav-link category" href="/admin/category" style="color: white; padding-right: 1.5rem;"
                        name="category">Category</a>
                </li>
                <li class="nav-item category">
                    <a class="nav-link orders" href="/admin/orders" style="color: white; padding-right: 1.5rem;"
                        name="orders">Orders</a>
                </li>
                <li class="nav-item category">
                    <a class="nav-link stock" href="/admin/stockManagement" style="color: white; padding-right: 1.5rem;"
                        name="orders">Sales Management</a>
                </li>

            </ul>

            </form>

        </div>
        <a href="/admin/adminprofile"><img src="/public/images/user_2.png" alt="cart"></a>
        <a href="/admin/adminlogout"><img src="/public/images/check-out.png" alt="cart"></a>
    </nav>
    <div>

    </div>
</body>

</html>