<div style="text-align: center; margin-top: 7rem;">
    <div
        style="background-color: white; padding: 20px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); display: inline-block;">
        <div id="paypal-button"></div>
    </div>
    <form id="paypal-form" method="post" action="/paypalpost">
        <input type="hidden" name="formData" id="form-data">
    </form>
</div>


<script
    src="https://www.paypal.com/sdk/js?client-id=Abe7o5xnXY5TOdVETZnj0cDbHykfaNtQUNePCu7es_xZyKt-C6DJQJGBNYYrxi86oP_rCDyeu8WoWMrE"></script>
<script>
    paypal.Buttons({
        createOrder: function (data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '<%=price%>'
                    }
                }]
            });
        },
        onApprove: function (data, actions) {
            return actions.order.capture().then(function (details) {
                let message = 'Payment Successfull Order Placed'
                window.location.href = `/showcart?smessage=${message}`
                var formData = sessionStorage.getItem('formData');
                if (formData) {
                    document.getElementById('form-data').value = formData;
                    sessionStorage.removeItem('formData');
                    document.getElementById('paypal-form').submit();
                }
            });
        },
        onCancel: function (data) {
            console.log('Payment cancelled');
            let message = "Payment Cancelled"
            window.location.href = `/showcart?cmessage=${message}`;

        },
        onError: function (err) {
            console.error(err);
            let message = "Error Occured!!!!"
            window.location.href = `/showcart?emessage=${message}`;
        }
    }).render('#paypal-button');

</script>